
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		
	<form ng-submit="login()">
		  <!-- NAME -->
		  <div id="name-group" class="form-group">
		    <label>email</label>
		    <input type="text" name="email" class="form-control" placeholder="Email" ng-model="formData.email">
		    <span class="help-block"></span>
		  </div>

		  <!-- SUPERHERO NAME -->
		  <div id="superhero-group" class="form-group">
		    <label>password</label>
		    <input type="password" name="password" class="form-control" placeholder="password" ng-model="formData.password">
		    <span class="help-block"></span>
		  </div>

		  <!-- SUBMIT BUTTON -->
		  <button type="submit" class="btn btn-success btn-lg btn-block">
		    <span class="glyphicon glyphicon-flash"></span> Submit!
		  </button>
</form>

   {{formData}}
<!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->

	</div>
</div>
